.gradle/
.idea/
*.iml
local.properties
**/build/
captures/
.externalNativeBuild/
.cxx/
!app/src/main/cpp/pjproject/build/
!app/src/main/cpp/pjproject/**/build/
**/pjproject/**/lib/
**/pjproject/**/bin/
